In [1]:
# Taller Data Cleaning  Solicitudes de crédito.

""""
Realice la limpieza del archivo "files/input/solicitudes_de_credito.csv".
El archivo tiene problemas como registros duplicados y datos faltantes.
Tenga en cuenta todas las verificaciones discutidas en clase para
realizar la limpieza de los datos.

El archivo limpio debe escribirse en "files/output/solicitudes_de_credito.csv"
"""


import pandas as pd

df = pd.read_csv("solicitudes_credito.csv", sep = ";")
df

,Unnamed: 0,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
0,0,masculino,COMERCIO,charcuteria,manrique central no. 2,1,3.0,28/12/2017,7000000,microempresarial
1,1,masculino,comercio,distribuidora de,santa lucia,2,12.0,16/03/2018,"$ 7,000,000.00",microempresarial
2,2,masculino,comercio,tienda,belen,3,16.0,2018/02/14,7800000,microempresarial
3,3,masculino,servicio,organización y,robledo,2,7.0,8/09/2016,1500000,microempresarial
4,4,masculino,servicio,COMIDAS RAPIDAS,20 de julio,2,13.0,20/12/2016,3000000,microempresarial
...,...,...,...,...,...,...,...,...,...,...
10915,10915,femenino,industria,cafeteria,santo domingo savio,1,1.0,22/06/2018,1000000,microempresarial
10916,10916,femenino,comercio,variedades,villa del socorro,2,2.0,1/04/2019,7000000,microempresarial
10917,10917,femenino,comercio,comidas rapidas,la libertad,2,8.0,22/05/2018,7812000,microempresarial
10918,10918,femenino,comercio,almacen de ropa en,caribe,3,5.0,27/02/2019,8281000,microempresarial
10919,10919,femenino,servicio,fabrica de alimentos,andalucia,2,2.0,8/06/2017,30000000,empresarial ed.

In [3]:
df.rename(columns={'Unnamed: 0': 'index'}, inplace=True)
df.set_index('index', inplace=True)
df

,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
index,,,,,,,,,
0,masculino,COMERCIO,charcuteria,manrique central no. 2,1,3.0,28/12/2017,7000000,microempresarial
1,masculino,comercio,distribuidora de,santa lucia,2,12.0,16/03/2018,"$ 7,000,000.00",microempresarial
2,masculino,comercio,tienda,belen,3,16.0,2018/02/14,7800000,microempresarial
3,masculino,servicio,organización y,robledo,2,7.0,8/09/2016,1500000,microempresarial
4,masculino,servicio,COMIDAS RAPIDAS,20 de julio,2,13.0,20/12/2016,3000000,microempresarial
...,...,...,...,...,...,...,...,...,...
10915,femenino,industria,cafeteria,santo domingo savio,1,1.0,22/06/2018,1000000,microempresarial
10916,femenino,comercio,variedades,villa del socorro,2,2.0,1/04/2019,7000000,microempresarial
10917,femenino,comercio,comidas rapidas,la libertad,2,8.0,22/05/2018,7812000,microempresarial
10918,femenino,comercio,almacen de ropa en,caribe,3,5.0,27/02/2019,8281000,microempresarial
10919,femenino,servicio,fabrica de alimentos,andalucia,2,2.0,8/06/2017,30000000,empresarial ed.

In [5]:
# Columna Sexo
df.sexo = df.sexo.str.lower()
df.sexo = df.sexo.astype('category')

In [6]:
# Columna tipo_de_emprendimiento
df.tipo_de_emprendimiento = df.tipo_de_emprendimiento.str.lower()
df.tipo_de_emprendimiento = df.tipo_de_emprendimiento.astype('category')

In [7]:
# Columna idea_negocio
df.idea_negocio = df.idea_negocio.str.lower().str.strip('_').str.strip('-').str.strip().str.replace('_',' ').str.replace('-',' ')
df.idea_negocio = df.idea_negocio.astype('category')

In [8]:
df

,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
index,,,,,,,,,
0,masculino,comercio,charcuteria,manrique central no. 2,1,3.0,28/12/2017,7000000,microempresarial
1,masculino,comercio,distribuidora de,santa lucia,2,12.0,16/03/2018,"$ 7,000,000.00",microempresarial
2,masculino,comercio,tienda,belen,3,16.0,2018/02/14,7800000,microempresarial
3,masculino,servicio,organización y,robledo,2,7.0,8/09/2016,1500000,microempresarial
4,masculino,servicio,comidas rapidas,20 de julio,2,13.0,20/12/2016,3000000,microempresarial
...,...,...,...,...,...,...,...,...,...
10915,femenino,industria,cafeteria,santo domingo savio,1,1.0,22/06/2018,1000000,microempresarial
10916,femenino,comercio,variedades,villa del socorro,2,2.0,1/04/2019,7000000,microempresarial
10917,femenino,comercio,comidas rapidas,la libertad,2,8.0,22/05/2018,7812000,microempresarial
10918,femenino,comercio,almacen de ropa en,caribe,3,5.0,27/02/2019,8281000,microempresarial
10919,femenino,servicio,fabrica de alimentos,andalucia,2,2.0,8/06/2017,30000000,empresarial ed.

In [9]:
# Columna barrio

df.barrio = df.barrio.str.lower().str.replace('_','-').str.replace("-", " ")

In [12]:
# Columna comuna_ciudadano
df.comuna_ciudadano = df.comuna_ciudadano.astype('Int64')
df.comuna_ciudadano  = df.comuna_ciudadano.astype('category')
df

,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
index,,,,,,,,,
0,masculino,comercio,charcuteria,manrique central no. 2,1,3,28/12/2017,7000000,microempresarial
1,masculino,comercio,distribuidora de,santa lucia,2,12,16/03/2018,"$ 7,000,000.00",microempresarial
2,masculino,comercio,tienda,belen,3,16,2018/02/14,7800000,microempresarial
3,masculino,servicio,organización y,robledo,2,7,8/09/2016,1500000,microempresarial
4,masculino,servicio,comidas rapidas,20 de julio,2,13,20/12/2016,3000000,microempresarial
...,...,...,...,...,...,...,...,...,...
10915,femenino,industria,cafeteria,santo domingo savio,1,1,22/06/2018,1000000,microempresarial
10916,femenino,comercio,variedades,villa del socorro,2,2,1/04/2019,7000000,microempresarial
10917,femenino,comercio,comidas rapidas,la libertad,2,8,22/05/2018,7812000,microempresarial
10918,femenino,comercio,almacen de ropa en,caribe,3,5,27/02/2019,8281000,microempresarial
10919,femenino,servicio,fabrica de alimentos,andalucia,2,2,8/06/2017,30000000,empresarial ed.

In [14]:
# Columna fecha_de_beneficio
df.fecha_de_beneficio = pd.to_datetime(df.fecha_de_beneficio, dayfirst=True, format='mixed')
df

,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
index,,,,,,,,,
0,masculino,comercio,charcuteria,manrique central no. 2,1,3,2017-12-28,7000000,microempresarial
1,masculino,comercio,distribuidora de,santa lucia,2,12,2018-03-16,"$ 7,000,000.00",microempresarial
2,masculino,comercio,tienda,belen,3,16,2018-02-14,7800000,microempresarial
3,masculino,servicio,organización y,robledo,2,7,2016-09-08,1500000,microempresarial
4,masculino,servicio,comidas rapidas,20 de julio,2,13,2016-12-20,3000000,microempresarial
...,...,...,...,...,...,...,...,...,...
10915,femenino,industria,cafeteria,santo domingo savio,1,1,2018-06-22,1000000,microempresarial
10916,femenino,comercio,variedades,villa del socorro,2,2,2019-04-01,7000000,microempresarial
10917,femenino,comercio,comidas rapidas,la libertad,2,8,2018-05-22,7812000,microempresarial
10918,femenino,comercio,almacen de ropa en,caribe,3,5,2019-02-27,8281000,microempresarial
10919,femenino,servicio,fabrica de alimentos,andalucia,2,2,2017-06-08,30000000,empresarial ed.

In [15]:
# Columna monto_del_credito
df.monto_del_credito = df.monto_del_credito.str.replace('$','').str.replace(',','')
df

,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
index,,,,,,,,,
0,masculino,comercio,charcuteria,manrique central no. 2,1,3,2017-12-28,7000000,microempresarial
1,masculino,comercio,distribuidora de,santa lucia,2,12,2018-03-16,7000000.00,microempresarial
2,masculino,comercio,tienda,belen,3,16,2018-02-14,7800000,microempresarial
3,masculino,servicio,organización y,robledo,2,7,2016-09-08,1500000,microempresarial
4,masculino,servicio,comidas rapidas,20 de julio,2,13,2016-12-20,3000000,microempresarial
...,...,...,...,...,...,...,...,...,...
10915,femenino,industria,cafeteria,santo domingo savio,1,1,2018-06-22,1000000,microempresarial
10916,femenino,comercio,variedades,villa del socorro,2,2,2019-04-01,7000000,microempresarial
10917,femenino,comercio,comidas rapidas,la libertad,2,8,2018-05-22,7812000,microempresarial
10918,femenino,comercio,almacen de ropa en,caribe,3,5,2019-02-27,8281000,microempresarial
10919,femenino,servicio,fabrica de alimentos,andalucia,2,2,2017-06-08,30000000,empresarial ed.

In [16]:
# Columna línea_credito
df.línea_credito = df.línea_credito.str.lower().str.strip('_').str.strip('-').str.strip().str.replace('_',' ').str.replace('-', ' ')
df

,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
index,,,,,,,,,
0,masculino,comercio,charcuteria,manrique central no. 2,1,3,2017-12-28,7000000,microempresarial
1,masculino,comercio,distribuidora de,santa lucia,2,12,2018-03-16,7000000.00,microempresarial
2,masculino,comercio,tienda,belen,3,16,2018-02-14,7800000,microempresarial
3,masculino,servicio,organización y,robledo,2,7,2016-09-08,1500000,microempresarial
4,masculino,servicio,comidas rapidas,20 de julio,2,13,2016-12-20,3000000,microempresarial
...,...,...,...,...,...,...,...,...,...
10915,femenino,industria,cafeteria,santo domingo savio,1,1,2018-06-22,1000000,microempresarial
10916,femenino,comercio,variedades,villa del socorro,2,2,2019-04-01,7000000,microempresarial
10917,femenino,comercio,comidas rapidas,la libertad,2,8,2018-05-22,7812000,microempresarial
10918,femenino,comercio,almacen de ropa en,caribe,3,5,2019-02-27,8281000,microempresarial
10919,femenino,servicio,fabrica de alimentos,andalucia,2,2,2017-06-08,30000000,empresarial ed.

In [17]:
df.dropna(inplace=True)
df.drop_duplicates(inplace=True)
df

,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
index,,,,,,,,,
0,masculino,comercio,charcuteria,manrique central no. 2,1,3,2017-12-28,7000000,microempresarial
1,masculino,comercio,distribuidora de,santa lucia,2,12,2018-03-16,7000000.00,microempresarial
2,masculino,comercio,tienda,belen,3,16,2018-02-14,7800000,microempresarial
3,masculino,servicio,organización y,robledo,2,7,2016-09-08,1500000,microempresarial
4,masculino,servicio,comidas rapidas,20 de julio,2,13,2016-12-20,3000000,microempresarial
...,...,...,...,...,...,...,...,...,...
10913,femenino,comercio,almacen de ropa en,campo valdes no. 1,3,4,2018-07-04,2000000,microempresarial
10914,femenino,comercio,cafeteria,la america,3,12,2018-03-20,5000000,microempresarial
10915,femenino,industria,cafeteria,santo domingo savio,1,1,2018-06-22,1000000,microempresarial
10918,femenino,comercio,almacen de ropa en,caribe,3,5,2019-02-27,8281000,microempresarial
10919,femenino,servicio,fabrica de alimentos,andalucia,2,2,2017-06-08,30000000,empresarial ed.

In [18]:
def clean_data():
    df = pd.read_csv("solicitudes_credito.csv", sep = ";")
    
    df.rename(columns={'Unnamed: 0': 'index'}, inplace=True)
    df.set_index('index', inplace=True)
    
    # Columna Sexo
    df.sexo = df.sexo.str.lower()
    df.sexo = df.sexo.astype('category')
    

    # Columna tipo_de_emprendimiento
    df.tipo_de_emprendimiento = df.tipo_de_emprendimiento.str.lower()
    df.tipo_de_emprendimiento = df.tipo_de_emprendimiento.astype('category')        

    # Columna idea_negocio
    df.idea_negocio = df.idea_negocio.str.lower().str.strip('_').str.strip('-').str.strip().str.replace('_',' ').str.replace('-',' ')
    df.idea_negocio = df.idea_negocio.astype('category')
    
    # Columna barrio

    df.barrio = df.barrio.str.lower().str.replace('_','-').str.replace("-", " ")    

    # Columna comuna_ciudadano
    df.comuna_ciudadano = df.comuna_ciudadano.astype('Int64')
    df.comuna_ciudadano  = df.comuna_ciudadano.astype('category')
    
    # Columna fecha_de_beneficio
    df.fecha_de_beneficio = pd.to_datetime(df.fecha_de_beneficio, dayfirst=True, format='mixed')
    
    # Columna monto_del_credito
    df.monto_del_credito = df.monto_del_credito.str.replace('$','').str.replace(',','')
    
    # Columna línea_credito
    df.línea_credito = df.línea_credito.str.lower().str.strip('_').str.strip('-').str.strip().str.replace('_',' ').str.replace('-', ' ')   
    
    df.dropna(inplace=True)
    df.drop_duplicates(inplace=True) 
    
    return df